* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    background-color: #0b0f19;
}

h2 {
    font-size: 30px;
    margin-bottom: 50px;
    text-decoration: underline;
}

.password-container {
    background-color: #a3a1a1;
    backdrop-filter: blur(15px);
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.input-container {
    border: solid 2px black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 24px;
    letter-spacing: 2px;
}

.input::placeholder {
    letter-spacing: 0px;
}

.fa-copy {
    cursor: pointer;
    opacity: 0.3;
    font-size: 30px;
}

.fa-copy:hover {
    opacity: 0.7;
}

.btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 0px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: green;
}

.btn:active {
    transform: scale(0.95);
}

.alert-container {
    position: fixed;
    width: 300px;
    height: 50px;
    background-color: lightgreen;
    right: 20px;
    bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: 0.4s;
}

/* we will add this active class to this alert using js and  */
/* whenver its added the alert will go out of the screen using below css */
.active.alert-container {
    right: -300px;
}